body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    grid-template-rows: repeat(var(--row-count), 1fr);
    height: 50vh;
    width: 50vh;
    
    /* margin: 50px; */
}

.grid-item {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}

.button-container{
    display: flex;
    gap:  10px;
}


button, #color {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.grid-color {
    background-color: transparent;
}